In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../DADOS/MICRODADOS_ENEM_2019.csv',encoding='ISO-8859-1', sep = ';')

In [3]:
df.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       ...
       'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024',
       'Q025'],
      dtype='object', length=136)

# Lista de Variaveis

In [7]:
selecionados = ['SG_UF_RESIDENCIA'
,'NU_IDADE'
,'TP_SEXO'
,'TP_COR_RACA'
,'TP_ANO_CONCLUIU'
,'TP_ESCOLA'
,'IN_NOME_SOCIAL'
,'NU_NOTA_CN'
,'NU_NOTA_CH'
,'NU_NOTA_LC'
,'NU_NOTA_MT'
,'TP_STATUS_REDACAO'
,'NU_NOTA_REDACAO'
,'TP_LINGUA'
,'Q006'
,'Q025'
,'TP_PRESENCA_CN'
,'TP_PRESENCA_CH'
,'TP_PRESENCA_LC'
,'TP_PRESENCA_MT']

In [8]:
df_selecionados = df.filter(items=selecionados)
#df = ''

In [9]:
df_selecionados.head()

,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,IN_NOME_SOCIAL,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_STATUS_REDACAO,NU_NOTA_REDACAO,TP_LINGUA,Q006,Q025,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT
0,PA,21,M,3,3,1,0,472.9,466.0,497.3,369.1,1.0,780.0,0,B,A,1,1,1,1
1,PA,16,F,3,0,1,0,358.9,495.4,482.3,416.5,1.0,600.0,1,B,A,1,1,1,1
2,PA,18,F,1,0,3,0,574.2,538.7,582.6,571.5,1.0,640.0,0,C,B,1,1,1,1
3,PA,23,M,3,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,1,C,A,0,0,0,0
4,PA,23,M,3,5,1,0,NaN,NaN,NaN,NaN,NaN,NaN,1,C,A,0,0,0,0

# Exportando a Base em CSV

In [10]:
#df_selecionados['NU_NOTA_CN'] = df_selecionados['NU_NOTA_CN'].astype(str)
df_selecionados.to_csv('base_selecionada.csv')